.container {
  width: 100%;
  max-width: 1024px;
  margin: 40px auto 0 auto;
  padding: 0 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
}

.main h1 {
  margin-bottom: 14px;
}

.task {
  border: 1.5px solid #909090;
  border-radius: 4px;
  line-height: 150%;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task p {
  white-space: pre-wrap;
  width: 100%;
}

.commentsContainer {
  margin: 18px 0;
  width: 100%;
  max-width: 1024px;
}

.commentsContainer h2 {
  margin: 14px 0;
}

.button {
  width: 100%;
  padding: 12px 0;
  border-radius: 4px;
  border: 0;
  color: #fff;
  background-color: #0053ff;
  cursor: pointer;
}

.button:disabled {
  cursor: not-allowed;
  background-color: rgba(0, 85, 255, 0.473);
}

.comment {
  border: 1px solid #ddd;
  padding: 14px;
  border-radius: 4px;
  margin-bottom: 14px;
  transition: all 0.2s ease-in-out;
}

.comment:hover {
  border: 1px solid #0053ff;
  background-color: #dddddd4d;
}

.headCommnet {
  display: flex;
  align-items: center;
}

.commentsLabel {
  background-color: #000000d7;
  padding: 4px 8px;
  margin-right: 8px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}

.ownerCommentsLabel {
  background-color: #ddd;
  padding: 4px 8px;
  margin-right: 8px;
  border-radius: 4px;
  font-weight: 500;
}

.buttonTrash {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.comment p {
  margin-top: 14px;
  white-space: pre-wrap;
}